@import "tailwindcss";

:root {
  --background: #3c3c3c;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-hover-background: #6d6d6d;
  --color-active-background: #2d2d2d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3c3c3c;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Noto Sans KR, Noto Sans;
}
